<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  <!-- {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %} -->
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            <!-- Links/Buttons -->
            <div class="links">
              {%- if project.abstract %}
              <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
              {%- endif %}
              {%- if project.arxiv %}
                <a href="http://arxiv.org/abs/{{ project.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
              {%- endif %}
              {%- if project.bibtex_show %}
                <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
              {%- endif %}
              {%- if project.html %}
                <a href="{{ project.html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
              {%- endif %}
              {%- if project.paper %}
                {% if project.paper contains '://' -%}
                <a href="{{ project.paper }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">PDF</a>
                {%- else -%}
                <a href="{{ project.paper | prepend: '/assets/pdf/projects/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">PDF</a>
                {%- endif %}
              {%- endif %}
              {%- if project.supp %}
                {% if project.supp contains '://' -%}
                <a href="{{ project.supp }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
                {%- else -%}
                <a href="{{ project.supp | prepend: '/assets/pdf/projects/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
                {%- endif %}
              {%- endif %}
              {%- if project.blog %}
                <a href="{{ project.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
              {%- endif %}
              {%- if project.code %}
                <a href="{{ project.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
              {%- endif %}
              {%- if project.poster %}
                {% if project.poster contains '://' -%}
                <a href="{{ project.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
                {%- else -%}
                <a href="{{ project.poster | prepend: '/assets/pdf/projects/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
                {%- endif %}
              {%- endif %}
              {%- if project.slides %}
                {% if project.slides contains '://' -%}
                <a href="{{ project.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Slides</a>
                {%- else -%}
                <a href="{{ project.slides | prepend: '/assets/pdf/projects/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Slides</a>
                {%- endif %}
              {%- endif %}
              {%- if project.website %}
                <a href="{{ project.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
              {%- endif %}
              </div>
            {%- if project.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if project.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    <!-- </a> -->
</div>